In [ ]:
#Variable Assignment
x=5 
name='Offroad' #string datatype must always be in inverted comas, either single or double

In [1]:
firstname= "Kakashi" #variable assignment
print(firstname)

Kakashi

In [2]:
#DataTypes
x=2
y=3.14
z=2+3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
my_list = [1,2,3,4,5] #Lists are ordered collection of items and are mutable or changeable. Created in a square brackets.
my_tuple = (1,2,3,4,5) #A tuple is a ordered collection of items that can not be changed or modified i.e immutable, and it's created in a paranthesis or normal bracket
my_range = (1,5)
print(type(my_list))
print(type(my_tuple)) 
print(type(my_range))

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [4]:
#Mapping or Dictioneries. A key-value collections of items created in curly brackets
ParoCyber = {'Name': 'Eric', 'Age': 25, 'Sport': 'Tennis', 'Food': 'Fufu'}
ParoCyber['Name']
print(ParoCyber)

{'Name': 'Eric', 'Age': 25, 'Sport': 'Tennis', 'Food': 'Fufu'}

In [5]:
#Operations on Lists
Letters = ['a', 'b', 'c', 'd', 'e']
print(Letters)

['a', 'b', 'c', 'd', 'e']

In [6]:
#APPEND
Letters.append('f')
print(Letters)

['a', 'b', 'c', 'd', 'e', 'f']

In [13]:
#EXTEND
Letters = ['a', 'b', 'c', 'd', 'e', 'f']
Letters.extend(['g', 'h'])
print(Letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [14]:
#INSERT
Letters.insert(0,1)
print(Letters)

[1, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [22]:
#REMOVE
Letters.append(['a', 'a'])
print(Letters)

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a', ['a', 'a']]

In [20]:
Letters.remove( 'a')
print(Letters)

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a']

In [23]:
Letters.insert(1, 'a')
print(Letters)

[1, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a', ['a', 'a']]

In [24]:
Letters.remove(['a','a'])
Letters.remove('a')
print(Letters)

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a']

In [ ]:
#POP
Letters= [1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a']
Letters.pop(5)
print(Letters)

[1, 'b', 'c', 'd', 'e', 'g', 'h', 'a']

In [ ]:
Letters= [1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a']
Pop_Element=Letters.pop(0)
print(Pop_Element)

1

In [ ]:
#INDEX
Index=Letters.index('e')
print(Index)

3

In [41]:
#COUNT
Letters.insert(4,'f')
print(Letters)

['a', 'b', 'c', 'd', 'f', 'f', 'f', 'e', 'f', 'g', 'h']

In [42]:
Count= Letters.count('f')
print(Count)

4

In [43]:
#SORT
Letters.sort()
print(Letters)

['a', 'b', 'c', 'd', 'e', 'f', 'f', 'f', 'f', 'g', 'h']

In [44]:
#REVERSE
Letters.reverse()
print(Letters)

['h', 'g', 'f', 'f', 'f', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#A list is a mutable set meaning we can modify

In [45]:
#A tuple is a ordered collection of items that can not be changed or modified i.e imutable, and it's created in a paranthesis. We can either count or identify the index of an element in a tuple
Shikigami= ('a', 'b', 'c', 'd', 'e', 'f', 'g')
print(Shikigami)

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [46]:
#COUNT
Count= Shikigami.count('c')
print(Count)

1

In [47]:
#INDEX
Index= Shikigami.index('g')
print(Index)

6

In [49]:
print(Shikigami[4])

e

In [ ]:
#Dictionary: An unordered collection key-value pairs item created in a curly brackets or with key word dict before a normal bracket.
MY_Dictionary = dict(name = 'Lola', Age = 20, City='Nairobi') #1st way to create a dictionary
MY_Dictionary

{'name': 'Lola', 'Age': 20, 'City': 'Nairobi'}

In [ ]:
My_Dictionary = dict([('name','Lola'), ('Age', 20), ('City','Nairobi')]) # 2nd way to create a dictionary
My_Dictionary

{'name': 'Lola', 'Age': 20, 'City': 'Nairobi'}

In [ ]:
My_Dictionary = {'name' : 'Lola', 'Age': 20, 'City': 'Nairobi'} #3rd way to create a dictionary
My_Dictionary

{'name': 'Lola', 'Age': 20, 'City': 'Nairobi'}

In [ ]:
My_Dictionary = {'name' : 'Lola', 'Age': 20, 'City': 'Nairobi'} #Accessing a value in a dictionary
Age= My_Dictionary.get('Age')
Age

20

In [59]:
My_Dictionary = {'name' : ('Lola','Jimmy','Sea'), 'Age': 20, 'City': 'Nairobi'}
My_Dictionary

{'name': ('Lola', 'Jimmy', 'Sea'), 'Age': 20, 'City': 'Nairobi'}

In [ ]:
My_Dictionary = dict([('name',['William', 'Est', 'Perth', 'Santa']), ('Age', [21,28,26,25]), ('City',['ChiangMai', 'Pukhet', 'Bangkok', 'HuaHin'])]) 
My_Dictionary

{'name': ['William', 'Est', 'Perth', 'Santa'],
 'Age': [21, 28, 26, 25],
 'City': ['ChiangMai', 'Pukhet', 'Bangkok', 'HuaHin']}

In [ ]:
Items= My_Dictionary.items() #Accessing items in a dictionary
Items

dict_items([('name', ['William', 'Est', 'Perth', 'Santa']), ('Age', [21, 28, 26, 25]), ('City', ['ChiangMai', 'Pukhet', 'Bangkok', 'HuaHin'])])

In [ ]:
Keys= My_Dictionary.keys() #Accessing keys
Keys

dict_keys(['name', 'Age', 'City'])

In [ ]:
Values = My_Dictionary.values() #Accessing values
Values

dict_values([['William', 'Est', 'Perth', 'Santa'], [21, 28, 26, 25], ['ChiangMai', 'Pukhet', 'Bangkok', 'HuaHin']])

In [ ]:
#UPDATE
MY_Dictionary.update({'Gender': ['Male', 'Male', 'Male', 'Male']}) #updating a dictionary must much the key-value ratio
My_Dictionary

{'name': ['William', 'Est', 'Perth', 'Santa'],
 'Age': [21, 28, 26, 25],
 'City': ['ChiangMai', 'Pukhet', 'Bangkok', 'HuaHin']}